*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    margin-top: 10px;
    width: 30rem;
}

.wrapper{
    width: 35rem;
    margin-left: 1rem;
    margin: auto;
    background-color: rgb(190, 190, 255);
    display: flex;
    flex-flow: column;
    padding: 0.5rem 2rem;
}

input[type=text],[type=number],[type=date]{
    width: 30rem;
    padding: 0.5rem 1rem;
}

div{
    margin-top: 1rem;
}

label{
    font-weight: bold;
}

p{
    margin-bottom: 1rem ;
    color: red;
}

#provide{
    display: flex;
    flex-flow: column;
    display: none;
}

#provide input{
    width: 30rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#provide button{
    align-self: flex-start;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
}

.salaryBox{
    margin-top: 5rem;
}

input[class="yes"]:checked ~ #provide
{
        display: block;
}

input[class="no"]:checked ~ #provide {
    display: none;
}

input:not(:placeholder-shown) + #name_error{
    visibility: hidden;
}

input:not(:placeholder-shown) + #lastName_error{
    visibility: hidden;
}

input:not(:placeholder-shown) + #age_error{
    visibility: hidden;
}

.positive {
    border: 3px solid green;
}
.negative {
    border: 3px solid red;
}
    


